/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Makes the side bar left-aligned*/
#classesDiv {
    position: absolute;
    width: 300px;
    left: -300px;
    bottom: 0;
    top: 51px;
    background-color: #337ab7;
}

#classul {
    list-style: none;
    padding: 0;
}

li.classli {
    border: 1px solid black;
    list-style-position: inside;
    margin-top: 60px;
    margin-bottom: 60px;
}

li.classli a {
    color: white;
}

#classul:hover .classli:not(:hover) {
    opacity: .5;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
