
@{
    ViewData["Title"] = "Home";
}

<body class="text-center">
    <div style="float:left" id="classesDiv">
        <ul>Load Classes here
            <li>Class 1</li>
            <li>Class 2</li>
            <li>Class 3</li>
            <li>Class 4</li>
        </ul>
    </div>
 <h1>WELCOME!</h1>
</body>