
@{
    ViewData["Title"] = "Home";
}
<body>
    <div id="classView" class="container">
        <h2 id="classTitle"></h2>
        <div id="classesDiv"></div>
        
         @*<div class="col-sm-offset-2 col-sm-10 well" style="height:510px;"> 
             <ul id="messagesList" class="text-left" style="list-style: none;"></ul> 
         </div> 
         
         <div class="col-sm-offset-2 col-sm-10 well"> 
             <form> 
                 <div class="input-group"> 
                      
         
                     <input class="form-control" type="text" placeholder="Enter message" id="messageInput" /> 
         
                     <div class="input-group-btn"> 
                         <button class="btn btn-default" type="submit" id="sendButton"> 
                             <i class="glyphicon glyphicon-send"></i> 
                         </button> 
                     </div> 
         
                 </div> 
             </form> 
         </div>*@ 
    </div>
</body>